.terraform/
terraform*

#ssh and pem key
.ssh/
*.pem
*.pub
*.tfstate
*.tfstate.*
.terraform/providers/
.terraform/providers/registry.terraform.io/
.terraform/modules/
.terraform/modules/registry.terraform.io/
terraform-provider-*
terraform-plugin-cache/
.DS_Store